<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    RewriteBase /silex-statme/www

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^api/.*$ api/index.php [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

</IfModule>